.hall-title{border-bottom: 1px solid #cbcbcb;height: 32px;line-height: 32px;font-size: 14px;font-family: simsun;padding-left: 10px;
background:#f8f8f8;
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f8f8f8)); 
background: -moz-linear-gradient(top, #ffffff, #f8f8f8); 
background: -o-linear-gradient(top , #ffffff, #f8f8f8);
background: linear-gradient(to bottom, #ffffff, #f8f8f8);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8');	
}
.hall-body{padding:10px 0 10px 30px; width: 750px;}

/* 设置页tab */
.tab-hall{border:none;}
.tab-hall li{width:auto;padding-left:15px;padding-right:15px;height:34px;line-height:34px;border-right:none;}
.tab-hall li.on{border-right:2px solid #dfdfe1;border-left:2px solid #dfdfe1;border-top:2px solid #dfdfe1}
.tab-hall li a{color:#000000;height:34px;line-height:34px;display:inline-block;font-size:12px;}
.tab-hall li.on a{color:#000000;font-weight: 700;}
.tab-hall .tabTitle{border-bottom:2px solid #dfdfe1;height:33px;padding-top:7px;}
.tab-hall .tabTitle ul{height:34px;top:6px;left:0;width:auto;}
.tab-hall .tab-more{position:absolute;right:10px;height:34px;line-height:34px;display:inline-block;top:7px;color:#666666;}
.tab-hall .tabMain{display:none;}
.tab-hall .tab-more li{display:inline;padding:0;}
.tab-hall .tab-more li a{display:inline;}

.hallp p{float: left;width: 250px;padding:0; line-height:25px}

.hall-dl-list{border: 1px solid #dfdfe1;margin-top: -1px;}
.hall-myb .hall-dl-list{margin-top: 20px;}
.hall-dl-list dt{height: 30px;line-height: 30px;padding:0 10px 0 20px;background: url(../../../../m2012/images/module/set/tabtabx.png) repeat-x; }
.hall-dl-list dt .dt-num{ margin-right: 20px;float: right;width: 200px;text-align: right;}
.hall-dl-list dt .btnNormal{ float: right;margin-right: 15px;margin-top: 4px;}
.hall-myb .hall-dl-list dt .btnNormal{ float: right;margin-right: 5px;margin-top: 4px;}
.hall-dl-list dt .i_2trid{ float: right;margin-top: 9px;}
.hall-dl-list dt .dt-name{ float: left;}
.hall-dl-list dd{padding: 10px 0;display: none;border-top: 1px solid #dfdfe1;}
.hall-dl-list dd .dd-line{border-bottom: 1px #dfdfe1 dashed;padding-top: 15px;margin-bottom: 15px;}
.hall-dl-list dd p{padding-left: 35px;}
.hall-dl-on dd{display: block;}
.hall-dl-on dt .dt-name{font-weight: 700;}
.hall-dl-on .i_2trid{background-position: -300px 0;}


.hall-dl-list dd .dt-num{ margin-right: 20px;float: right;width: 70px;text-align: right;}
.hall-dl-list dd .btnNormal{ float: right;margin-right: 10px;margin-top: 4px;}
.hall-dl-list dd .dt-name{ margin-left: 30px;}
.hall-dl-list .union-dd {padding:0;height: 30px;line-height: 30px;}
.hall-dl-list .union-dd-on {height: auto;}

.union-tips{position: relative;padding:0;border-left: none;border-right: none;border-bottom: none;-webkit-border-radius: 0px;
-moz-border-radius: 0px;border-bottom: none;border-color: #dfdfe1;
border-radius: 0px;-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);}
.union-tips .tipsTop{left:55px;border-color: #dfdfe1;}
.union-tips .tips-text{padding:10px 0;}
.union-tips p{line-height: 19px;}
.union-tips .i_u_close{position:absolute;right: 10px;top:10px;}

.dl-appre .hall-dl-list dt .btnNormal{margin-right: 0px;}

.hall-left{float: left;width: 588px;}
.hall-view{border: 1px solid #dae5f1;height: 94px;border-left: none;}
.hall-view .hall-view-c{border-left: 1px solid #dae5f1;background-color: #f1f5fa;width: 237px;height: 94px;line-height:94px;float: left;position: relative;padding: 0 0 0 55px;}
.hall-view .hall-view-c strong{font-size: 30px;}
.hall-view .hall-view-c .pa_a{position: absolute;right: 5px;top: 5px;line-height: 19px;}
.hall-view .hall-view-c strong.c_jf{font-size:18px;}
.hall-right{width: 142px;float: right;}
.hall-right .ad-a{display: inline-block;margin-bottom: 10px;}
.hall-right .ad-b{width: 125px;height: 64px;background-color:#faf7f1;border:1px solid #f6eac9;display: inline-block;margin-bottom: 10px;color: #666; 
padding:30px 0 0 15px;}


.pa_cz{position: absolute;left: 113px;top:65px;line-height: 21px;}

.hall-view .hall-view-center{width:586px;text-align:center;padding-left:0px;}
.hall-view .hall-view-center .pa_a{position: static;margin-left:10px;}

.hall-index-table{margin-top: 10px;border:1px solid #dfdfe1;width:100%;table-layout: fixed;}
.hall-index-table th{padding-left:10px;font-size: 14px;text-align: left;border-bottom:1px solid #dfdfe1; background: url(../../../../m2012/images/module/set/tabtabx.png) repeat-x; height: 30px;line-height: 30px;}
.hall-index-table th a{font-size: 12px;margin-right: 10px;font-weight: 400;}
.hall-index-table td{padding:10px 0 10px 50px;border-bottom: 1px dotted #dfdfe1;}
.hall-index-table td img{margin-right: 5px;}

.imgInfo-look{border-top: 1px dotted #e5e5e5;border-bottom: 1px dotted #e5e5e5;padding: 20px 5px;}
.imgInfo-look dt{font-weight: 700;padding: 5px 0;}
.imgInfo-look dd{padding-bottom: 5px;}
.lookmore{line-height: 23px;padding: 25px 15px 45px 15px;border:4px solid #dddddd;position: relative; }
.lookmore h3{margin-bottom: 8px;}
.lookmore .look-off{position: absolute;font-size: 14px;color:#7b7b7b;top: 20px;right: 15px; }
.lookmore .look-off i{margin-right: 5px;}
.lookmore .loop-off-down{bottom: 20px;right: 15px; top: auto;}


.hall-fee{border: 1px solid #dfdfe1;margin-top: 20px;}
.hall-fee h3{margin: 5px;background-color: #f8f8f8;height: 30px;line-height: 30px;padding-left: 10px;font-size: 14px;}
.fee-liist{padding:25px 0 0 21px;}
.fee-li{border: 1px solid #dfdfe1;float: left;width: 190px;margin: 0px 21px 40px 21px;}
.fee-li .fee-li-bot{border-top: 1px solid #dfdfe1;height: 35px;line-height: 35px;background-color: #f4f5f9;padding:0 5px;}
.fee-li .fee-li-face{width: 180px;height: 114px;line-height:124px;font-weight: 700;overflow: hidden;background: url(../../../../images/module/hall/facebg.jpg) no-repeat;margin: 5px;color: #3779b6;text-align: center;}
.fee-li .fee-li-face .num{font-size: 47px;}
.fee-li .fee-li-bot .ui-button-sgreen{margin-top: 8px;}

.ui-button *{margin:0;padding:0}
.ui-button{display:inline-block;*display:inline;text-align:center;text-decoration:none;vertical-align:middle;cursor:pointer;font-family:verdana,Hiragino Sans GB;font-size:14px;border-radius:2px;padding:0 20px;*zoom:1;*overflow:visible}
.ui-button .ui-button-text{background:0;padding:0;height:auto;line-height:auto}
.ui-button:hover{text-decoration:none}
input.ui-button-text,button.ui-button-text{*vertical-align:top;font-family:Hiragino Sans GB}
.ui-button:active{position:relative;top:1px}
.ui-button-lgreen,
.ui-button-mgreen,
.ui-button-sgreen{border:1px solid #078804;color:#fff;
	background-color:#079004;
	background:-webkit-gradient(linear,left top,left bottom,from(#48ad46),to(#079004));
	background:-moz-linear-gradient(top,#48ad46,#079004);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#48ad46', endColorstr='#079004');
	background:-o-linear-gradient(top,#48ad46,#079004);
	background:linear-gradient(top,#48ad46,#079004);
	box-shadow:0 -2px 2px rgba(255,255,255,.25) inset}
.ui-button-lgreen:hover,
.ui-button-mgreen:hover,
.ui-button-sgreen:hover{background-color:#3aa738;
	background:-webkit-gradient(linear,left top,left bottom,from(#75c174),to(#3aa738));
	background:-moz-linear-gradient(top,#75c174,#3aa738);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#75c174', endColorstr='#3aa738');
	background:-o-linear-gradient(top,#75c174,#3aa738);
	background:linear-gradient(top,#75c174,#3aa738)}
a.ui-button-lgreen,
a.ui-button-mgreen,
a.ui-button-sgreen,
a.ui-button-lgreen:active,
a.ui-button-mgreen:active,
a.ui-button-sgreen:active,
a.ui-button-lgreen:hover,
a.ui-button-mgreen:hover,
a.ui-button-sgreen:hover{color:#fff}
.ui-button-lgreen{line-height:30px;height:30px}
.ui-button-mgreen{line-height:24px;height:24px}
.ui-button-sgreen{padding:0 12px;line-height:20px;height:20px;font-size:12px}

.hall-browser{border: 1px solid #dfdfe1;padding:0 0 0 5px;}
.hall-browser-ul{width: 258px;border-right:1px solid #dfdfe1;float: left; }
.hall-browser-ul li{height: 68px;line-height: 68px;border-top: 1px solid #f4f4f4;padding-left: 15px;}
.hall-browser-ul li strong{font-size: 18px;margin: 0 3px;}
.hall-browser-ul li.on{background-color:#f5f5f5; }

.tips-hall-browser{position: relative;float: left;border:none;width: 474px;padding-right: 0;
-webkit-border-radius: 0x;
-moz-border-radius: 0px;
border-radius: 0px;
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.tips-hall-browser .tipsLeft{border-color:#dfdfe1; }
.tips-hall-browser .tips-text{height:472px;overflow-x:hidden;overflow-y: auto;   }

.moth-view-table{width: 430px;border:1px solid #c3d5e8;table-layout: fixed;margin-top: 5px;}
.moth-view-table td{height: 29px;padding-left: 10px;background-color: #f8fafc;border-bottom: 1px dotted #c3d5e8;}
.moth-view-table td.td1{width: 75px;border-left:1px dotted #c3d5e8; }

.hall-b-no{background-color: #f9f9f9;border:2px solid #e3e3e3;text-align: center;font-size: 14px;color:#666;font-weight: 700;padding:35px 0; margin:169px  10px 0 0;}
/**/
.text-view{margin-top: 47%;text-align: center;}
.list-view{margin:35px 30px 0 35px;position:relative;}
.list-view .viewBox{border:1px solid #d7d7d7;padding:10px;position: relative;}

.list-view .viewBox .charge{position:absolute; right:15px; top:10px; _right:45px;}
.list-view .viewBox .charge a{color:#333;}
.list-view .viewBox .charge a:hover{text-decoration:none; }
.list-view .viewBox .charge .purple,.list-view .viewBox .charge .blue{margin:0;padding:5px 10px; line-height:0; *padding:0 10px;display: inline-block;position: relative;top: 2px;*top:0;right: 5px;color: #333;}
.blue{background-color:#3280be;}
.purple{background-color:#e3aeff;}
.list{margin-top:30px;}
.list .point {height:60px; line-height:60px; position:relative;zoom:1;}
.list .point span{border-bottom:1px solid #d7d7d7; display:block; margin-left:30px; position:absolute; top:50%; *top:-50%;width: 91%; *width:86%;}
.list .point em{border-right:1px solid #d7d7d7;position:relative;left: 34px; top: 9px; /* padding:0 5px; */width: 54px;display: inline-block;height: 8px;line-height: 15px;text-align: center;}
.yy{width:40px;  position:absolute;bottom: 30px;box-shadow: 1px 2px 1px #ddd;}
.yy1{left: 50px;}
.yy2{left: 105px;}
.yy3{left: 160px;}
.yy4{left: 214px;}
.yy5{left: 269px;}
.yy6{left:325px;}
.yy .purple{background-color:#e3aeff; }
.yy .blue{background-color:#3280be; }
.yy1 .purple{height:60px;}
.yy1 .blue{height:40px;}

.yy2 .purple{height:60px;}
.yy2 .blue{height:40px;}

.yy3 .purple{height:60px;}
.yy3 .blue{height:40px;}

.yy4 .purple{height:60px;}
.yy4 .blue{height:40px;}

.yy5 .purple{height:60px;}
.yy5 .blue{height:40px;}

.yy6 .purple{height:60px;}
.yy6 .blue{height:40px;}

.hall-error{position: absolute;left: 50%;top: 50%;width: 240px;height: 40px;margin-left: -120px;margin-top: -20px;}



















