.tips{color:#666; font-family:"Microsoft YaHei",Verdana;}
.status .successContent .tb span{color:#f00;font-family:"Microsoft YaHei",Verdana;;padding-left:5px;letter-spacing:1px}
.textarea textarea{
    font-size: 12px;
    font-family: "Microsoft YaHei",Verdana;
    border:0;
}

/*postcard*/
body, table, input, select, textarea{font-size:12px;font-family:"Microsoft YaHei",Verdana;}
.but_bg-x{display:inline-block;cursor:pointer;height:23px;line-height:25px;padding:0 12px;}
.pager a{color:#676863;text-decoration:none; position:relative;top:-4px; right:3px;}


/*global2012*/
body{
	font:12px/1.5 "Microsoft YaHei",Verdana;
	color:#464646;
	-webkit-text-size-adjust:none;
	background: #fff;
}
.ipt-edit{
	position: relative;
	left: -5px;
	border:1px solid #d1dbe4;
	height: 20px;
	line-height: 20px;
	padding-left: 5px;
	width: 90%;
	_left: 0;
	color: #464646;
	font-family: "Microsoft YaHei",Verdana;
}
.btn span a em{
	font-family: "Microsoft YaHei",Verdana;
	color: #464646;
}
.select-box .panel{background:#fff;position:absolute;left:-1px; border-radius: 2px; box-shadow:3px 3px 0 #f0f3f8;z-index:110; font-family: "Microsoft YaHei",Verdana; top: 25px; display: none; min-width: 60px; _width: 60px; }
.inout-mail .list li{
	height: 24px;
	width: 362px;
	font-family: "Microsoft YaHei",Verdana;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.ct-box1 .list li{
	height: 24px;
	width: 228px;
	font-family:"Microsoft YaHei",Verdana;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.i-normal-user{background-position:-80px -96px;margin-top: -11px; margin-top:-11px\0; *margin-top:0;}
.toolBar_listMenu li a .i_sinsg {
position: absolute;
right: 14px;
top: 10px;
}
/*addr2012*/
.contacts-nav{
	border-style: solid;
	border-width:0 0 1px;
	margin-bottom: 4px;
	font-family: "Microsoft YaHei",Verdana;
}

/*supersms*/
body, table, input, select, textarea{font-size:12px; font-family:"Microsoft YaHei",Verdana;}
.premium .i-close{position:absolute;top:8px;right:15px;cursor:pointer;width:auto;height:auto; font-family:"Microsoft YaHei",Verdana; text-decoration:underline;}
.mess-mb li{float:left;width:44%;padding:8px 3%;color:#333; font-family:"Microsoft YaHei",Verdana;}
.siderNav li li{ font-family:"Microsoft YaHei",Verdana;}
.siderSearchF dt{font-weight:bold; font-family:"Microsoft YaHei",Verdana;}
.wish-tips{ color:#f36c47; padding-top:10px; font-family:"Microsoft YaHei",Verdana;}
.but_bg-x{display:inline-block;cursor:pointer;height:23px;line-height: 25px;padding:0 12px;}
.box-list input {
margin-right: 3px;
position: relative;
top: -2px;
}
.rcd-hd button{padding:2px 1em 3px;#padding:2px 1em 1px;margin:0 0 0 5px;}
/*sengcard*/
.body,input,textarea,select{font:12px/1.5 "Microsoft YaHei",Verdana;}
/*netdisk*/
body, table, input, select, textarea{font-size:12px;font-family:"Microsoft YaHei",Verdana;}
.album-hd input, .album-hd label{vertical-align:middle; font-family:"Microsoft YaHei",Verdana;}
.nd-tip p{ font-family:"Microsoft YaHei",Verdana;}
body, th, td, caption, input,textarea{font-size:12px;font-family:"Microsoft YaHei",Verdana; }
.addedShare ul li span{width:210px; height: 20px; line-height: 20px; float: left; overflow:hidden;text-overflow: ellipsis; -o-text-overflow: ellipsis;white-space: nowrap; margin-right: 30px; font-family: "Microsoft YaHei",Verdana;}
.shareList{width:95px;overflow:hidden;font-family:"Microsoft YaHei",Verdana;}
.sharePeoList ul{z-index: 9; border:1px solid #C6CF62;padding:2px;width:90px;overflow-x:hidden;overflow-y:auto;position:absolute;margin-top:5px;*margin:20px 0 0 -104px;background:white;display:none;font-family:"Microsoft YaHei",Verdana;}
.meagerBar{width:694px;height:390px;font-family:"Microsoft YaHei",Verdana;position:absolute;top:50%;left:50%;margin-left:-347px;margin-top:-195px;background:white;padding:1px;}
.wtPopWrap{width:400px;height:210px;position:absolute;left:50%;top:50%;z-index:111;margin-left:-200px;margin-top:-105px;border:5px solid #EDEDED;border-radius:5px;font-family:"Microsoft YaHei",Verdana; }
.rcd-hd button{height: 23px;}
.rcd-hd .paging select{height: 18px;}
.rcd-hd .page select{height: 18px;}
.rcd-hd{height: 27px;}


/*同步灰色按钮*/
.btnNm, .but_lIco, .but_rIco{background:#F8F8F8; height:22px; _height:23px; line-height:22px; border:1px solid #e2e2e2; color:#666 !important;}
.btnNm span, .but_lIco span, .but_rIco span{background:none; height:22px; line-height:22px;}
.btnNm i, .but_lIco i, .but_rIco i{display:none;}
.btnNm:hover, .but_lIco:hover, .but_rIco:hover{background:#F2F2F2;}























