@charset "utf-8";
@import url(/m2012/css/module/attr.css);
.i_jpg{width:15px;height:15px;background:url(../../images/global/affix.png) no-repeat;vertical-align:middle;}
.i_jpg{background-position:0 0;}

.toolBarSet{position:relative;z-index:2;float:right;margin-right:5px;_display:inline;}
/* .toolBarArray,.toolBarPaging{z-index:11;}  */
.toolBarPaging a.up,.toolBarPaging a.down,
.toolBarArray a.one,.toolBarArray a.two,
.toolBarArray a.rdCl,
.pagenum,.pagenum:hover .pagenumtext
{display:inline-block;background:url(../../images/global/global.png) no-repeat;}



/* .toolBarArray:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.toolBarArray{zoom:1;height:21px;} */
.toolBarArray a.one,.toolBarArray a.two{width:36px;height:21px;overflow:hidden;float:left;}
.toolBarArray a.one{background-position:0 -38px;}
.toolBarArray a.one:hover{background-position:0 -61px;}
.toolBarArray a.two{background-position:-37px -38px;border-left:1px solid #e1e1e1;}
.toolBarArray a.two:hover{background-position:-37px -61px;}
.toolBarArray a.rdCl{background-position:-133px -84px;width:37px;height:21px;float:left;}
.toolBarArray a.rdCl:hover{background-position:-172px -84px;}

/* 上一页 下一页 */
/* .toolBarPaging:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.toolBarPaging{zoom:1;height:21px;} */
.toolBarPaging a.up,.toolBarPaging a.down{width:28px;height:21px;overflow:hidden;float:left;}
.toolBarPaging a.up{background-position:-74px -38px;margin-right:5px;}
.toolBarPaging a.up:hover{background-position:-74px -61px;}
.toolBarPaging a.down{background-position:-102px -38px;}
.toolBarPaging a.down:hover{background-position:-102px -61px;}
.toolBarPaging a.up-gray{background-position:-74px -84px;cursor:default;}
.toolBarPaging a.up-gray:hover{background-position:-74px -84px;}
.toolBarPaging a.down-gray{background-position:-102px -84px;cursor:default;}
.toolBarPaging a.down-gray:hover{background-position:-102px -84px;}
.pagenum{margin-right:5px;float:left;color:#333;height:21px;line-height:21px;display:block;background-position:right -116px;padding-right:15px;cursor:pointer;}
.pagenum:hover{text-decoration:none;background-position:right -139px;}
.pagenum .pagenumtext{padding-left:5px;}
.pagenum:hover .pagenumtext{background-position:-425px -162px;}
/* 上一页 下一页 */

/* 左右分栏 左边分页 */
.leftrightPage{border-top:1px solid #cbcbcb;background-color:#F8f8f8;padding:5px 0;z-index:9999;width:100%;text-align:center;}
.leftrightPage .pagenum{float:none;display:inline-block;vertical-align:middle;}
.leftrightPage a.up, .leftrightPage a.down{float:none;vertical-align:middle;}
.leftrightPage .toolBarPaging{height:22px;}


/* 视图弹出层 */
.viewSet{width:190px;padding-bottom:0px;}
.viewSet dl{padding-left:10px;padding-top:3px;}
.viewSet dl dt{float:left;width:90px;height:25px;overflow:hidden;text-align:right;}
.viewSet dl dd{float:right;width:90px;height:25px;}
.viewSet .viewSetBtn{border-top:1px solid #aeaeae;text-align:center;padding:5px 0;background-color:#f4f5f9;height:23px;}
.viewSet .viewa,.viewSet .viewa2,.viewSet .viewa3{width:12px;height:11px;overflow:hidden;background-color:#ebebeb;border:1px solid #CBCBCB;display:block;float:left;margin:4px 8px 0 0;_display:inline;margin-top:0\0;*margin-top:0;}
.viewSet .viewa2 .top1{height:3px;width:12px;display:block;border-bottom:1px solid #CBCBCB;overflow:hidden;}
.viewSet .viewa3 .left1{height:11px;width:3px;display:block;border-right:1px solid #CBCBCB;overflow:hidden;}
.viewSet .viewaOn,.viewSet .viewa:hover,
.viewSet .viewa2:hover,
.viewSet .viewa3:hover{border:1px solid #4f66c8;background-color:#bbc7f7;}
.viewSet .viewa2:hover .top1,.viewSet .viewaOn .top1{border-bottom:1px solid #4f66c8;}
.viewSet .viewa3:hover .left1,.viewSet .viewaOn .left1{border-right:1px solid #4f66c8;}
.viewSet .dropDown{width:70px;}
.viewSet .dropDown .dropDownText{_width:36px;}

.inboxHeader{height:26px;border-bottom:1px solid #cbcbcb; color:#666666; padding-left:10px;padding-top:6px;
background:#F5F5F5;
background: -webkit-gradient(linear, left 70%, left bottom, from(#ffffff), to(#f8f8f8));
background: -moz-linear-gradient(top,  #ffffff,  #f8f8f8);
background: -o-linear-gradient(left, #ffffff, #f8f8f8);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f8f8f8');
background: linear-gradient(left, #ffffff, #f8f8f8);
font-family:tahoma;
}
.inboxHeader .i_triangle_d{margin-left:5px;}
.inboxHeader .line{margin:0 5px;}
.inboxHeader strong{font-size:14px;font-weight:bold;color:#000;margin-right:5px;}
.inboxHeader span.bl{}
.inboxHeader .inboxHeaderfr{margin-right:10px;float:right;_display:inline;}
.inboxHeader .inboxHeaderfr .i_set{vertical-align:middle;*margin-top:4px;}
.tableTitle{width:100%;border-bottom:1px solid #cbcbcb;}
.tableTitle td{height:30px;border-right:1px solid #e6e6e6;background-color:#f8f8f8;}
.tableTitle td a{display:block;line-height:30px;padding-left:10px;background-color:#f8f8f8;}
.tableTitle td a span{display:inline-block;line-height:30px;height:30px;vertical-align:middle;}
.tableTitle td a:hover{display:block;text-decoration:none;
	 background:#f3f3f3;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f9f9f9));
      background: -moz-linear-gradient(top,  #ffffff,  #f9f9f9);
      background: -o-linear-gradient(top,  #ffffff,  #f9f9f9);
      background: linear-gradient(left, #ffffff, #f9f9f9);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f9f9f9');
}

.tableTitle td a .i_th0,.tableTitle td a .i_th1{margin-left:5px;}
.tableTitle td.td1{width:56px;padding-left:10px;}
.tableTitle td span.tdsel{border:1px solid #F8F8F8;padding:1px 3px 3px 3px;background-color:#F8F8F8;height:15px;line-height:15px;margin-left:-3px;_display:inline;overflow:hidden;}
.tableTitle td a:hover span.tdsel{border:1px solid #dedede;background-color:#FFFFFF;}
.tableTitle td .tdsel a:hover{text-decoration:none;}
.tableTitle td.td1 .i_triangle_d{width:12px;height:12px;background-position:-372px -18px;cursor:pointer;}
.tableTitle td.td2{width:162px;}
.tableTitle td.td3{width:150px;}
.tableTitle td.td4{width:84px;}
.tableTitle td.td5{width:82px;border-right:none;}
.tableTitle td.td6{width:115px;border-right:none;}
.tableTitle a{color:#333;}
.dayArea{border-bottom:1px solid #cbcbcb;}
.dayArea .daytableTitle{border-bottom:1px solid #dedede;display:block;padding:0 6px;height:22px;line-height:22px;}
.dayArea .daytableTitle span{line-height:22px;height:22px;display:inline-block;}
.dayArea .daytableTitle .i_plusj{margin-right:5px;vertical-align:middle;}

.dayArea .dayAreaTable{width:100%;table-layout: fixed;}
.dayArea .dayAreaTable tr:hover td,.dayArea .dayAreaTable tr.on td{background-color:#f5f5f5;}
.dayArea .dayAreaTable td{border-top:1px solid #e6e6e6; padding:5px 0 5px 10px;cursor:pointer;}
.dayArea .dayAreaTable .td1{width:56px;}
.dayArea .dayAreaTable .td2{width:152px;}
.dayArea .dayAreaTable .td3{width:140px;color:#999;}
.dayArea .dayAreaTable .td4{width:74px;color:#999;}
.dayArea .dayAreaTable .td5{width:72px;border-right:none;padding:5px 10px 5px 0;text-align:right;}
.dayArea .dayAreaTable .td6{width:105px;border-right:none;padding-right:10px;line-height:19px;padding-left:0px;vertical-align:top;}
.dayArea .dayAreaTable .td6 p{text-align:right;}
.dayArea .dayAreaTable .td6 div{text-align:right;}
.dayArea .dayAreaTable .td6 a {margin-left:4px;}
.dayArea .dayAreaTable .td6 .tagMin{margin-left:4px;}
.dayArea .dayAreaTable i{margin-right:4px;}
.dayArea .dayAreaTable td.td5 a{margin-right:4px;}
.dayArea .dayAreaTable i.i_atta{margin-right:0px;}
.dayArea .dayAreaTable .i_exc{visibility:hidden;margin:0 3px;}
.dayArea .dayAreaTable .i_excOn{visibility:visible;}

.dayArea .dayAreaTable  td .mTitle {overflow:hidden;_width:100%;position:relative;}
.dayArea .dayAreaTable  td .mTitle h3{font-weight:400;float:left;height:18px;overflow:hidden;_width:100%;}
.dayArea .dayAreaTable  td .mTitle h3 a{color:#333;float:left;padding-right:45px;word-wrap:break-word; word-break:break-all;}
.dayArea .dayAreaTable  td .mTitle h3  span{float:left;margin-left:-45px;display:inline;}
.dayArea .dayAreaTable  td .mTitle h3 a:hover{text-decoration:none;}
.dayArea .dayAreaTable  td .mTitle p{white-space: nowrap;text-overflow: ellipsis;overflow:hidden;position:relative;_width:100%;cursor:pointer;clear:both;}

.dayArea .dayAreaTable  .mailForm{white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:152px;}

/* 标记 */
.TagDiv {height: 16px;overflow:hidden;position:absolute;right:0;top:0;white-space:nowrap;padding:1px;}

/* myLabel */
.myLabel .tagMin{position:relative;margin-right:3px;}
.myLabel .tagText{height:24px;line-height:24px;display:inline-block;vertical-align:middle;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:100px;}

/* 读信页 */
.readMail{background-color:#f8f8f8;border-bottom:1px solid #FFF;padding:10px 10px 10px 15px;zoom:1;position:relative;}
.readMail:after,.readMail .hTitle:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.readMail .hTitle{zoom:1;padding-bottom:5px;}
.readMail .hTitle h2{font-size:14px;float:left;word-wrap:break-word; word-break:break-all;}
.readMail a.che{float:left;margin:0px 5px 0 5px;_display:inline;_margin-top:2px;height:21px;display:inline-block;}
.readMail .hTitle .i_exc{float:left;margin-top:6px;}
.readMail .hTitle .readTagdiv{float:left;margin:3px 0 0 0px;_display:inline;}
.readMail .hTitle .readTagdiv .tagMin{margin-right:5px;}


.readmialTool{position:absolute;right:4px;top:auto;bottom:13px;color:#e1e1e1;}
.readmialTool a{cursor:pointer;}
.readmialTool2{position:absolute;right:4px;top:auto;bottom:13px;font-family:"\5b8b\4f53";}
.readmialToolOther{bottom:33px !important;}

.readMailInfo{width:100%;color:#666;}
.readMailInfo .remarkTips{position:static;padding:5px;width:470px;margin-bottom:5px;}

.rMList:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.rMList{margin-top:2px;zoom:1;}
.rMList .rMl{float: left;padding-top:1px;}
.rMList .rMr{margin-left: 48px; padding: 0 2px;word-wrap:break-word; word-break:break-all;}
.rMList .gAddr{font-family: Tahoma;height: 16px;line-height: 16px;padding: 1px 0 1px 0;position: relative;vertical-align: baseline;white-space: nowrap;display:inline-block;*display:inline;}
.rMList .gAddrN{color:#5fa006; vertical-align: text-bottom;font-weight:400;}

.col5Fa{color:#5fa006;}
.rMList .gAddrE{ vertical-align: text-bottom;}
.rMList .i_triangle_d{background-position: 16px 16px; cursor: pointer;font-family: Tahoma;font-weight: normal;height: 16px;outline: 0 none;overflow: hidden; text-indent: 3px; vertical-align: top;width: 16px;display:inline-block;}
.SgAddr{background-color:#D7E2F0;}
.SgAddr .i_triangle_d{background-position: -371px -15px;font-size:0;line-height:0;}

/* 发信状态  */
.mail-tdztdiv{padding-right:0;}
.mail-tdzt{width:100%;}
.mail-tdzt td,.mail-tdzt th{height:30px;border:1px solid #dfdfe1;text-align:left;padding-left:5px;background-color:#FFFFFF;}
.mail-tdzt th{background: url(../../images/skin/normal/bg_x.png) repeat-x  0 -138px;}

.mialContent{border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;position:relative;_zoom:1;}
.mailText{padding:15px 0 15px 15px;line-height:23px;}
.fontZoom{background:url(../../images/global/global.png) no-repeat -275px -128px;width:72px;height:22px;overflow:hidden;position:absolute;top:15px;right:17px;}
.fontZoom a{width:24px;height:22px;overflow:hidden;text-indent:-9999px;display:block;float:left;}
.attrBody{padding:0 10px;}
.attrAll{border-top:1px solid #f0f0f0;padding:10px 0 4px 0;border-bottom:1px solid #f3f3f3;overflow:hidden;height:25px;line-height:25px;}
.attrAll span{color:#666666;}
.attrAll span b{font-weight:700;}
.attrAll a{margin-left:8px;}
.attrAll .attrall-title{background-color:#ffffcc;border:1px solid #c0c083;padding:2px 5px;line-height:19px;}
.attrList:after{content:".";clear:both;display:block;height:0;visibility:hidden;}
.attrList{zoom:1;padding-bottom:20px;position:relative;}
.attrList li{float:left;margin:10px 15px 0 0;width:230px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;_zoom:1;position:relative;border:1px solid #FFFFFF;padding:8px;webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.attrList li.lihover{border-color:#d8dee7;}
.attrList .attrico{width:32px;height:32px;display:inline-block;padding:12px;border:1px solid #d7d7d7;}
.attrList li dd a{margin-right:5px;}
.attrList li dt,.attrList li dd{padding-top:6px;}
.attrList .attrlist-title{display:inline-block;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;max-width:104px;_width:100px;vertical-align:middle;_font-family:"\5b8b\4f53";}

.attrBody{border-top:1px solid #cbcbcb;}

.readMailReply{padding:5px 10px 5px 5px;background:#FBFBFB;border-bottom:1px solid #C3C3C3;margin-bottom:10px;}
.readMailReply .selectTxt{width:100px;height:14px;padding:5px;border:1px solid #B4B4B4;}
.readMailReply .selectTxtClick{height:24px;width:20px;right:1px;*right:-11px;_right:1px;top:1px;*top:2px;position:absolute;background:white;}
.readMailReply .selectTxtClick .i_triangle_d{position:relative;left:7px;top:2px;*top:5px;}
.readMailReplyMes{width:100%;height:15px;padding:4px 0;border:1px solid #D9D9D9;border-top-color:#B4B4B4;_margin-top:-1px;color:gray;word-wrap:break-word; word-break:break-all;resize:none;}
.readMailReplyMes:focus,.focus-on{color:#333;height:50px;}

/*搜索列表*/
.searchList{width:100%;}
.searchFilter{width:221px;margin-left:-222px;border-left:1px solid #AEAEAE;
	  -moz-text-shadow: 1px 1px white;
	  -webkit-text-shadow: 1px 1px white;
	  text-shadow: 1px 1px white;
}
.searchFilterTitle{padding:12px  20px 0;height:32px;
	  background:#F4F4F4;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
      background: -moz-linear-gradient(top,  #ffffff,  #ebebeb);
      background: -o-linear-gradient(top,  #ffffff,  #ebebeb);
      background: linear-gradient(left, #ffffff, #ebebeb);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
}
.searchFilterList{background:#F4F5F9;}
.searchFilterList h3{height:24px;line-height:24px;padding:0 20px;font-weight:normal;border-top:1px solid #E0E0E1;border-bottom:1px solid #E0E0E1;
      background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EDEFF4));
      background: -moz-linear-gradient(top,  #ffffff,  #EDEFF4);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EDEFF4');
      background: linear-gradient(left, #ffffff, #EDEFF4);
}
.searchFilterList ul{padding:5px 10px;}
.searchFilterList li{height:28px;}
.searchFilterList li a{padding:3px 10px;display:block;color:#808080;}
.searchFilterList li a:hover,.searchFilterList li a.on{background:#E5EBF4;text-decoration:none;color:#000;}
.searchFilterList li label{display:inline-block;width:158px;*width:150px;overflow:hidden;position:relative;top:2px;top:4px\0;*top:0;}
.switchOn,.switchOff{display:inline-block;width:10px;height:38px;background:url(../../images/global/global.png) -131px -39px no-repeat;position:absolute;top:3px;right:221px;_right:220px;z-index:3;}
.switchOn .i_triangle_h,.switchOff .i_triangle_h{position:absolute;left:4px;top:15px;}
.switchOff{right:0;}
.switchOff .i_triangle_h{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}

/*邮件会话*/
.mailSectionWrap{padding:0 20px;background:#F4F5F9;position:relative;z-index:1;}
.mailSectionWrap .readMail{border-top:none;background:none;padding:10px 0;border-bottom-color:#D8D8DC;}
.mailSectionWrap .hTitle{padding-bottom:0;}
.mailSectionList{padding:10px 0 0 0;position:relative;}
.mailSectionList .tips{position:relative;}
.mailSectionList .tips .fontZoom{_right:30px;}
.mailSectionListTitle{padding-bottom:10px;}
.mailSectionListTitle .time{color:#B6B6B6;position:relative;top:5px;}
.mailSectionTitle{border-bottom:1px solid #D6D6D6;margin:2px 0;padding:0 85px 5px 5px;_zoom:1;z-index:1;}
.mailSectionTitle .readmialTool{top:0px;_top:3px;}
.mailSectionTitle li{line-height:20px;color:#999;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mailSectionTitle .slideUp{position:absolute;right:5px;bottom:5px;cursor:pointer;}
.mailSectionOperate{border-top:1px solid #CBCBCB;background:#FBFBFB;padding:9px 0 9px 20px;margin: 0 -10px -4px;}
.mailSectionOperate .line{color:#D2D2D2;margin:0 10px;}
.mailSectionOperate a{color:#333;}
.mailSectionListOn .tips{background-color:#fffef4;}

.mailSectionTitle .rMList{color:#999;}
.mailSectionTitle .remarkTips{position: static;}
.mailSectionTitle .readTagdiv{float:left;margin: 3px 0 0 7px;_display:inline;}
.convattrlist ul{_zoom:1;}
.convattrlist ul li{padding:1px 0;font-family:tahoma;}
 .convattrlist ul li span{vertical-align:top;line-height:19px;white-space:normal;word-wrap:break-word; word-break:break-all;display:inline;}
.convattrlist ul li .i_file_16{margin-right:5px;}

/* 添加提醒 */
.sTips{border:1px solid #acb8cc;background-color:#f4f5f9;-webkit-border-radius:3px ;-moz-border-radius:3px;border-radius:3px;padding:5px;}
.sTipsBtn{height:22px;padding-top:5px;}
.sTipsBtn .bibText{float:left;line-height:22px;}
.sTipsBtn .bibBtn{float:right;}
.sTipsRemind{padding:5px;width:340px;z-index:999;height:78px;_overflow:hidden;}
.sTipsRemind .remidText{width:335px;border-left:1px solid #969696;border-top:1px solid #969696;border-bottom:1px solid #d4d4d4;border-right:1px solid #d4d4d4;height:46px;padding:3px 0 0 3px;overflow-y:auto;-webkit-border-radius:3px ;-moz-border-radius:3px;border-radius:3px;line-height:21px;resize:none;}

/* 收件箱列表 发件人弹出层
.sTipsSender{width:200px;padding:0px;}
.sTipsSender .imgInfo{background-color:#FFF;padding:5px;}
.sTipsSender .imgInfo dt{font-size:14px;font-weight:bold;}
.sTipsSender .imgInfo dd{font-size:11px;color:#666;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:123px;}
.sTipsSender .imgInfo dd a{float:left;margin:5px 8px 0 0;padding-bottom:5px;}
.sTipsSender .sTipsBtn2{border-top:1px solid #acb8cc;}
.sTipsSender .sTipsBtn2 a{border-right:1px solid #acb8cc;display:inline-block;height:27px;text-align:center;width:98px;line-height:27px;}
.sTipsSender .sTipsBtn2  a.borN{border-right:none;}	*/

/* 联第人页卡 */
.contactTips{width:335px;border-color:#a2b0c6;background-color:#FFFFFF;padding:0;}
.contactTips .imgInfo{padding:15px;}
.contactTips .imgInfo .imgLink{margin-right:15px;}
.contactTips .imgInfo dt{font-size:14px;color:#666666;font-weight:bold;}
.contactTips .imgInfo dd{color:#666666;line-height:23px;}
.contactTips .imgInfo dd.gray{color:#999999;}
.contactTips .tipsTop{border-color:#a2b0c6;left:36px;}
.contactTips .sTipsBtn2{height:28px;line-height:28px;border-top:1px solid #a2b0c6;background-color:#f4f5f9;overflow:hidden;}
.contactTips .sTipsBtn2 a{border-right:1px solid #a2b0c6;display:inline-block;width:83px;text-align:center;color:#666666;float:left;}
.contactTips .sTipsBtn2 a:hover/* ,.contactTips .sTipsBtn2 a.on */{background-color:#FCFDFE;text-decoration:none;color:#4c75b2;}
.contactTips .sTipsBtn2 a.more{width:82px;border-right:none}
.contactTips .sTipsBtn2 a.more .morfont{font-family:"\5b8b\4f53";line-height:27px;}
.contactTips .tipsBottom{background-color:#f4f5f9;border-color:#A2B0C6;}

.groupFenDiv{padding-bottom:5px;padding-top:8px;}
.groupFenDiv .iText{width:180px;}
.groupFenDiv .label{width:90px;}
.groupFenDiv .element{width:290px;}
.groupFen{border:1px solid #bebebe;width:190px;}
.groupFen .groupFenList{height:66px;overflow-y:auto;overflow-x:hidden;margin:8px;}
.groupFen .groupBtn{border-top:1px solid #bebebe;padding:5px 0 8px 8px;}
.groupFen .groupBtn .iText{width:110px;}


/* 主题选择弹出层 */
.boxTheme{width:192px;position:relative;}
.boxTheme .iText{width:180px;}
.boxTheme .mailTheme{float:left;top:3px;}


.readWrap,.inboxWrap{overflow-y:auto;height:300px;position:relative;}
.readWrap{top:7px;}
.wrapMiddle{background-color:#e7e7e7;border-top:1px solid #c3c3c3;border-bottom:1px solid #c3c3c3;height:5px;text-align:center;overflow:hidden;cursor:n-resize;}
.wrapMiddle .i_updown{margin:-16px auto 0 auto;*margin-top:-5px;}
.inboxWrapLeft,.readWrapRight{float:left;background-color:#FFFFFF;height:300px;}
.readWrapRight{margin-left:6px;_display:inline;}
.wrapMiddleMiddle{background-color:#e7e7e7;border-left:1px solid #c3c3c3;border-right:1px solid #c3c3c3;width:5px;text-align:center;float:left;overflow:hidden;cursor:w-resize ;z-index:999;}
.wrapMiddleMiddle .slHvalign{display: table;width:2px;}
.slHvalign{display:table;overflow:hidden;margin:0 auto;height:100%;*position:relative;}
.slHvalignCnt{display:table-cell;vertical-align: middle;*position:absolute;top:50%;}
.slHvalignCntInner{*position:relative;*top:-50%;}

/*提醒 备注提示  */
.remarkTips{border:1px solid #cecece;background-color:#ffffe7;padding:10px 15px;position:absolute;z-index:999;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}


.blacklist-page {float:right;}
.blacklist-page a{padding:0px 4px;display:inline-block;line-height:18px;}
.blacklist-page a.on,.blacklist-page a:hover{background-color:#0066cc;color:#FFFFFF;text-decoration:none;}
.setForm .bgef{background-color:#efeff0;}


/* setAutoTag */
.setAutoTag {padding:20px;}
.setAutoTag .dropDown{width:226px;margin-left:30px;}
.setAutoTag .dropDown .tagText{height:25px;line-height:25px;display:inline-block;}
.setAutoTag .dropDownText .tagMin{margin-right:5px;margin-left:10px;}
.setAutoTagUl{width:226px;left:-1px;top:25px;}
.setAutoTagUl .tagMin{position:relative;margin-right:3px;}
.setAutoTagUl .tagText{height:24px;line-height:24px;display:inline-block;vertical-align:middle;}

/* 新建文件夹并移动到 */
.setAutoTagTop .iText{width:170px;}
.setAutoTagTop .contactList{height:145px;}
.setAutoTagMove{width:180px;border-left:1px solid #969696;border-top:1px solid #969696;border-bottom:1px solid #d4d4d4;border-right:1px solid #d4d4d4;margin:10px 0 10px 0;}
.setAutoTagMove .searchContactText{width:154px;}

/* 创建邮件分类规则 */
.mailRuleTab{border-top:none;}
.mailRuleTab .tabTitle{height:41px;background-color:#f4f5f9;border-bottom:1px solid #a2b0c6;}
.mailRuleTab .tabTitle ul{padding-top:10px;height:32px;}
.mailRuleTab .tabTitle li{width:155px;margin-left:25px;background-color:#4c75b2;border:1px solid #486fa8;border-bottom:none;height:30px;line-height:30px;}
.mailRuleTab .tabTitle li a{color:#FFF;}
.mailRuleTab .tabTitle li.on{background-color:#FFF;border:1px solid #a2b0c6;border-bottom:1px solid #FFF;}
.mailRuleTab .tabTitle li.on a{color:#000;}



/* 标签浮层 */
.tagTips{border:1px solid #cecece;background-color:#ffffe7;position:absolute;padding:5px 6px 5px 12px;}

/* 邮件归档 */
.mailGd .dropDownText{width:91px;}
.mailGd .label2{float:left;height:25px;line-height:25px;display:inline-block;margin-right:10px;}
.mailGd .label2 input{margin-right:5px;}
.mailGd .dropDown{float:left;width:125px;}

/* 邮件清理 */
.mailClear{padding-top:10px;padding-bottom:10px;}
.mailClear .formLine{padding-left:30px;}
.mailClear .dropDownText{width:91px;}
.mailClear .label2{float:left;height:25px;line-height:25px;display:inline-block;margin-right:10px;}
.mailClear .label2 input{margin-right:10px;}
.mailClear .dropDown{float:left;width:125px;}

/* 简单邮件分类规则 */
.mailFlRule{padding:10px 20px;}
.mailFlRule p{margin-bottom:5px;}
.mailFlRule td{padding:5px 0 5px 5px;font-family:tahoma;}
.mailFlRule td input{margin-right:5px;}
.mailFlRule tr.on td{background-color:#ffffe1;border:1px solid #cccccc;}
.mailFlRule .mail-name{white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:130px;display:inline-block;vertical-align:middle;}
.mailFlRule .iText{width:139px;}
/* 复杂邮件分类规则 */
.mailHineRule{padding:10px 20px;}
.mailHineRule p{margin-bottom:5px;}
.mailHineRule td{padding:5px 0 5px 5px;}
.mailHineRule td input{margin-right:5px;}
.mailHineRule tr.on td{background-color:#ffffe1;border:1px solid #cccccc;}
.mailHineRule .dropDownText{width:43px;}
.mailHineRule .dropDown{float:left;width:77px;}
.mailHineRule .iText{width:80px;height:14px;}

/* 邮件分类ing */
.mialflIng{border:1px solid #a2b0c6;background-color:#f4f5f9;padding:20px 25px;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:215px;position:absolute;left:50%;top:50%;margin-left:-120px;margin-top:-41px;}
.mialflIng img{margin-top:10px;}




/* 没有邮件 */
.noindexbody{text-align:center;}
.noindexbody .empty_btn{padding:60px 0;text-align:center;border:2px solid #e3e3e3;background-color:#f9f9f9;font-weight:bold;font-size:14px;color:#666666;margin:15px;_zoom:1;}
.noindexbody p a{display:inline-block;}
.noindexbodyS .empty_btn{padding:45px 0 30px 0;}
.noindexbodyS .empty_btn p{border-top:1px solid #e3e3e3;display:inline-block;font-weight:400;font-size:12px;margin:15px 0 8px 0;padding-top:5px;*display:inline;*zoom:1;}
.noindexbodyS .empty_btn a{font-weight:400;font-size:12px;}
.noindexbodyS .empty_btn .iText{width:250px;}
/* 往来邮件 */
.inboxflDiv {margin-right:256px;}
.inboxflOff .inboxflDiv{margin-right:0;}
.inboxfl{position:relative;}
.contactsMail{width:254px;  border-left:1px solid #9a9a9a;border-right:1px solid #9a9a9a;border-bottom:1px solid #9a9a9a;
	  -moz-text-shadow: 1px 1px white;
	  -webkit-text-shadow: 1px 1px white;
	  text-shadow: 1px 1px white;
	  position:absolute;
	  right:0;top:0;
}
.contactsMail-info{background-color:#f4f5f9;padding:10px;border-bottom:1px solid #bcbcbc;}
.contactsMail .norTips{padding:0;}
.contactsMail .norTips .widthdiv{width:160px;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;}
.contactsMail-btn{padding:5px 0 5px 10px;}
.contactsMail-tab{border-top:1px solid #d8d8d8;width:100%;text-align:left;}
.contactsMail-tab td,.contactsMail-tab th{padding-left:10px;height:28px;border-bottom:1px solid #efefef;}
.contactsMail-tab th{background-color:#f8f8f8;border-bottom:1px solid #d8d8d8;}
.contactsMail-tit{white-space: nowrap;text-overflow: ellipsis;overflow:hidden;width:210px;}
.contactsMail-tab .td1{width:20px;text-align:center;}
.contactsMail-tab .td2{width:185px;text-align:left;}
.contactsMail-tab .td3{width:35px;text-align:left;}
.contactsMail-tab .td4{width:210px;text-align:left;}
.inboxfl .switchOn3{display:inline-block;width:8px;height:38px;background:url(../../images/global/global.png) -131px -39px no-repeat;position:absolute;top:5px;right:256px;;z-index:9;overflow:hidden;}
.inboxfl .switchOn3 .i_triangle_h{position:absolute;left:3px;top:15px;}
.contactsMail-text{padding:20px 0 20px 20px;}

.inboxflOff .contactsMail{display:none;}
.inboxflOff .switchOn3{right:0;}
.inboxflOff .switchOn3 .i_triangle_h{-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.inboxflOff .contactsMail:not(m139){
  -moz-transition:0.4s ease; -moz-transition-property:opacity, visibility;
  -webkit-transition:0.4s ease; -webkit-transition-property:opacity, visibility;
  -o-transition:0.4s ease; -o-transition-property:opacity, visibility;
  transition:0.4s ease; transition-property:opacity, visibility;
  opacity:0;
  visibility:hidden;display:block;
}
.contactsMail:not(m139){
  -moz-transition:0.4s ease; -moz-transition-property:opacity, visibility;
  -webkit-transition:0.4s ease; -webkit-transition-property:opacity, visibility;
  -o-transition:0.4s ease; -o-transition-property:opacity, visibility;
  transition:0.4s ease; transition-property:opacity, visibility;
  opacity:1;
  visibility:visible;
}
/*
没有星标邮件
 */
 .nostar{padding:15px 0 0 15px;}
 .nostar h2{font-size:14px;}

/* 邮件导入导出 */

.importmail{border:1px solid #a2b0c6;margin:0 20px 20px 20px;}
.importmail .importmailList{overflow-x:hidden;overflow-y:auto;height:66px;border-bottom:1px solid #a2b0c6;padding:5px 8px 3px 8px;}
.importmail .importmailList p{height:22px;line-height:22px;}
.importmail .importmailBot{padding:5px 8px 5px 8px;background-color:#f4f5f9;}
.importmailMsg{padding:3px 15px;background-color:#00aa00;color:#FFF;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #009700;width:240px;}
.importmailYellow{background-color:#ffffcc;border:1px solid #c0c083;color:#000;}
.importmailError{width:240px;background-color:#f96e69;border:1px solid #ff0303;}
.importmailError span{vertical-align:middle;}
.importmailError .i_u_closered{background-color:#fd201e;}
.importmailError .i_u_f5{background-color:#fd201e;}

/* 导航 */
.setTab2{border:none;
background:#F5F5F5;
background: -webkit-gradient(linear, left 70%, left bottom, from(#ffffff), to(#ebebeb));
background: -moz-linear-gradient(top,  #ffffff,  #ebebeb);
background: -o-linear-gradient(left, #ffffff, #ebebeb);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb');
background: linear-gradient(left, #ffffff, #ebebeb);
-moz-box-shadow:1px 1px 5px rgba(0, 0, 0, 0);-webkit-box-shadow:1px 1px 5px rgba(0, 0, 0, 0);box-shadow:1px 1px 5px rgba(0, 0, 0, 0);
}
.setTab2 li{width:auto;padding-left:15px;padding-right:15px;height:34px;line-height:34px;border-right:none;}
.setTab2 li.on{border-right:1px solid #a5a5a5;border-left:1px solid #a5a5a5;border-top:1px solid #a5a5a5}
.setTab2 li a{color:#666666;height:26px;line-height:26px;display:inline-block;font-size:14px;padding-top:8px;}
.setTab2 li.on a{color:#000000;font-weight:bold;}
.setTab2 .tabTitle{border-bottom:1px solid #cbcbcb;height:33px;padding-top:7px;}
.setTab2 .tabTitle ul{height:34px;top:6px;left:10px;width:auto;}
.setTab2 .tab-more{position:absolute;right:10px;height:34px;line-height:34px;display:inline-block;top:7px;color:#666666;}

/*
附件存网盘
 */
.attrsavediskP{border-bottom:1px solid #A2B0C6;background-color:#F4F5F9;padding:5px 12px;line-height:19px;}
.attrsavediskP .fsongt{font-family:"\5b8b\4f53";margin:0 8px;}
.attrsavedisk{height:190px;overflow-x:hidden;overflow-y:auto;}
.attrsavedisk a{color:#333;}
.attrsavedisk li{padding-left:16px;padding-top:8px;}
.attrsavedisk .i_plus, .attrsavedisk .i_wjj{margin-right:5px;vertical-align:middle;}
.attrsavedisk a.on .i_plus{background-position:-108px -76px;}
.attrsavedisk a.on .i_wjj{background-position:-250px -174px;}

/*
邮件预览
 */
 .indboxview{padding:4px;width:560px;}
 .indboxview .dRoundBody{padding:10px;height:260px;overflow:auto;}
 .indboxview .dRoundBody h3{font-size:14px;border-bottom:1px solid #d6d6d6;padding:0 0 10px 10px;}
 .indboxview .dRoundBody .indboxviewC{padding:10px 0 0 10px;}
/*新修改的写信页-附件*/
.convattrlist .attachmentAll{height:27px; line-height:27px; padding:0 5px;}
.attachmentAll .attachmentAll_right{float:right; margin-top:-2px;}
.attachmentAll_on{background-color:#f8f8f8;}