.cov-write{position: relative;border-left: 0;border-right: 0;padding:0;border-bottom: 1px solid #e5e5e5;border-top-color:#d9d9d9;background-color: #ffffff;
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
box-shadow:0 0 0 rgba(0, 0, 0, 0);_zoom:1;}

.cov-write .tipsTop{left:45px;width: 15px;height: 12px;top: -12px;background-color: #ffffff;border-color: #e5e5e5;background-position: -51px -366px;}
.cov-write .c-w-cloase{font-weight:700;font-size:20px;color:#9b9b9b;position: absolute;right: 6px;top: -1px;}
.cov-write .c-w-cloase:hover{text-decoration: none;}
.cov-tab-div{padding:0 24px;}
.cov-write-tab{width: 100%;font-size: 12px;line-height: 22px;}
.cov-write-tab td{padding:4px 0 4px 0;border-bottom: 1px dotted #cccccc;vertical-align:top;}
.cov-write-tab .td1{width: 60px;text-align: right;color: #666;vertical-align: top;padding-top: 8px;*padding-top:5px;}
.cov-write-tab .td2{width: 60px;text-align: right;color: #666;vertical-align: top;font-size: 12px;padding-right: 8px;padding-top:8px;}
.cov-write-tab .c-w-f td{}
.cov-write-tab .c-w-area{text-align: left;overflow: hidden;height: 20px;padding:0 5px;resize:none;border:0;background-color: #f9f9f9;outline: none;}
.cov-write-tab .other{white-space:nowrap; border:1px solid #d9d9d9;background-color: #FFF;height: 18px;line-height: 18px;padding:0 5px;border-radius: 3px;color: #ff6600;cursor: pointer;}
.cov-write-tab .other-error{white-space:nowrap; border:1px solid red;background-color: #FFF;height: 18px;line-height: 18px;padding:0 5px;border-radius: 3px;color: #000;cursor: pointer;}

.cov-write .c-w-text{background-color: #ffffff;font-size: 12px;padding:10px 28px 0 28px;}
.cov-write .c-w-text p{border-bottom: 1px solid #e5e5e5;padding-bottom: 10px;line-height: 23px;font-size: 12px;}
.cov-write .c-w-text p span{vertical-align: middle;color: #666;word-wrap: break-word; 
word-break: normal; word-break:break-all; }
.cov-write .c-w-text p .iText{height: 23px;line-height: 23px;padding-top: 0;padding-bottom: 0;}
.cov-write .c-w-text textarea{background-color:#ffffff;resize:none;padding: 0;width: 100%;height: 100px;overflow-x: hidden;overflow-y: auto;border:0;outline: 0}
.cov-write .area-input{resize:none;height: 22px;width: 100%;border:0;outline: 0;background-color: #f9f9f9;overflow: hidden;vertical-align: top;
word-wrap: break-word;word-break: normal; word-break:break-all;_border:1px solid #f9f9f9;_width:99%;}

.cov-write .ztinput:focus{background-color:#ffffff;}
.c-w-textitle{width: 100%;table-layout: fixed;margin-bottom: 5px;border-bottom: 1px solid #e5e5e5;}
.c-w-textitle td{padding:5px 0 10px 0;}
.c-w-textitle .td1{width: 50px;padding-left: 8px;}
.c-w-textitle .texttitle{width:100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;border:1px transparent solid;}
.c-w-textitle .ztinput{border:0;outline: 0;width: 100%;padding:0;height: 18px;line-height: 18px;vertical-align: top;background-color: #ffffff;}

.cov-cur .cov-rep{border-top: 1px solid #ececec;}
.cov-cur .cov-rep .cov-r-t{height: 34px;line-height: 34px;padding-left: 36px;}
.cov-cur .cov-rep .cov-r-t .menuPop li,.cov-cur .cov-rep .cov-r-t .menuPop li a{line-height: 24px;}
.cov-cur .cov-rep .cov-r-t em{margin:0 7px;}
.cov-cur .cov-rep .cov-rarea{border-top: 1px solid #d9d9d9;}
.cov-cur .cov-rep .cov-rarea-c{padding:36px 0 0 36px;height:80px;border-top: 1px solid #f0f0f0;}
.cov-r-btn{padding:6px;}
.cov-r-btn .cov-btn{height: 22px;line-height: 22px;border-radius: 3px;width: 50px;text-align: center;display: inline-block;}
.cov-r-btn .cov-b-g{border: 1px solid #979797;color: #fff;
background:#9a9a9a;
background: -webkit-gradient(linear, left top, left bottom, from(#bebebe), to(#9a9a9a));
background: -moz-linear-gradient(top,  #bebebe,  #9a9a9a);
background: -o-linear-gradient(top,  #bebebe,  #9a9a9a);
background: linear-gradient(left, #bebebe, #9a9a9a);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bebebe', endColorstr='#9a9a9a');}
.cov-r-btn .cov-b-b{border: 1px solid #078804;color: #fff;margin-right: 25px;
background:#089105;
background: -webkit-gradient(linear, left top, left bottom, from(#59bf59), to(#089105));
background: -moz-linear-gradient(top,  #59bf59,  #089105);
background: -o-linear-gradient(top,  #59bf59,  #089105);
background: linear-gradient(left, #59bf59, #089105);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59bf59', endColorstr='#089105');}
.cov-btn:hover{text-decoration: none;}
.writeTable-txt{background-color: #ffffff;}
.writeTable-txtOn{border-color:transparent;}
.th27{height: 23px; line-height: 23px;}
.cov-r-btn .edit-btn{margin: 1px 12px 0 0;}
.cov-r-btn .ico-edit-pic,
.tips-covfont .ico-edit-b,
.tips-covfont .ico-edit-i,
.tips-covfont .ico-edit-ud,
.tips-covfont .ico-edit-ff,
.tips-covfont .ico-edit-fsi
{margin-top: 1px;}
.cov-r-btn .line{float: left;width: 1px;height: 12px;overflow: hidden;background-color: #bbbbbb;margin:8px 12px 0 0;padding:0;}
.cov-r-btn .edit-btn{ margin-top:4px }
.cov-r-btn .fileLoading{position:relative;top:7px;}
.tips-covfont{position: relative;border-top:0;border-left: 0;border-right: 0;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;
background-color: #f5f5f5;border-bottom-color: #e5e5e5;
-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
box-shadow:0 0 0 rgba(0, 0, 0, 0);
padding-left: 82px;
border-top:1px solid #e5e5e5;
}
.tips-covfont .tipsBottom{left: 92px;background-color:#f5f5f5;border-color:#e5e5e5; }
.tips-covfont .edit-btn{margin-top: 0;}

.writeattrlist{border:0;background-color: #FFF;}
.writeattrlist .attrlistUl li{border-bottom: 0;}
.progressBarDiv{margin-left: 29px;}
.eidt-bar{ display: none; }
.eidt-body{ padding-top:3px; border-color:white; height:125px; }
.cov-r-border { border-top:1px solid #e5e5e5 }
.cov-r-btn{position:relative;_zoom:1;}
.floatWrap{position:absolute;left:137px;top:10px;z-index:3;cursor:pointer;}
#floatDiv input{width:50px;font-size:16px;cursor:pointer;}
#floatDiv
{
	position:relative;
	margin-top:0px;
	left:0px;
	width:12px;
	height:20px;
	overflow:hidden;
	z-index:1;
	padding:0px;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    #filter:alpha(opacity=0);
}
#floatDiv object{ position:absolute; left:0; top:3px}
.covtop{display:none}

.i-color-cloud{display:inline-block;width:16px;height:16px; background:url(../../images/global/edit.png) -19px -130px; line-height:800px;overflow:hidden;margin-top:2px;vertical-align:middle;}
