@charset "utf-8";
var{font-family:"Microsoft YaHei";}
/* 文本颜色 */
.c_457fbd{color:#1a75ca;}/*蓝色*/
.c_ff8157{color:#ff8157;}/*橙色*/
.c_de0202{color:#de0202;}/*红色*/
.c_008e11{color:#008e11;}/*绿色*/
.c_555{color:#555;}

.p_relative{position:relative;}

/* ====  方向箭头 ====   */
.diamond{
filter: progid:DXImageTransform.Microsoft.Matrix(
    		M11=0.7071067811865475,
    		M12=-0.7071067811865477,
    		M21=0.7071067811865477,
    		M22=0.7071067811865475,
    		SizingMethod='auto expand'
);
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform:rotate(45deg);}
.tips{position:absolute;background: #FEFEFE;border:1px solid #B9B9BD;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
-moz-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.1);-webkit-box-shadow:2px 2px 1px rgba(0, 0, 0, 0.1);box-shadow:2px 2px 1px rgba(0, 0, 0, 0.1);}
.tipsBottom{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#FEFEFE;border-right:1px solid #B9B9BD;border-bottom:1px solid #B9B9BD;
bottom:-5px;bottom:-4px\0;*bottom:-7px;left:21px;}
.tipsLeft{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#FEFEFE;border-left:1px solid #B9B9BD;border-bottom:1px solid #B9B9BD;
left:-5px;left:-7px\0;*left:-7px;top:10px;}
.tipsRight{position:absolute;display:block;width:8px;height:8px;font-size:0;background:#ECF8FC;border-right:1px solid #D5E5EB;border-top:1px solid #D5E5EB;
right:-5px;right:-4px\0;*right:-7px;top:10px;}
.tipsTop{position:absolute;display:block;width:6px;height:6px;font-size:0;background:#FEFEFE;border-left:1px solid #B9B9BD;border-top:1px solid #B9B9BD;
top:-4px;top:-5px\0;*top:-5px;left:10px;}
.yellow-tips{border-color: #cecece;background-color:#ffffcb;width: 250px;padding:15px 10px 10px 10px;color:#663300; }
/* 布局 */
.welcomeBox{position:relative; zoom:1;}
.welcomeContent{width:100%;float:left;}
.welcomeMain{margin:0 279px 0px 0;}
.welcomeAside{float:left;width:265px;margin-left:-265px;display:inline;}
.welcomeFooter{padding:15px 24px 10px;clear:both;overflow:hidden;_zoom:1;}
.welcomeFooter,.welcomeFooter a{color:#799ecf;}
.welcomeFooter a:hover{color:#175fa2; text-decoration:none !important;}
.welcomeFooter li{line-height:22px; color:#999;}
.welcomeFooter .wfLine{margin:0 8px; color:#999; font-family:"Verdana";}

/*右上角撕页*/
#imgBox{position:absolute; right:0; top:0; display:block; cursor:pointer; background-image:url(../../images/201403/top_rightIE6.png); background-repeat:no-repeat;_background-image:url(../../images/201403/top_rightIE6.png);}
/*兼容IE6*/
*html{background-image:url(about:blank);background-attachment:fixed;}
*html #imgBox{position:absolute; top:expression(documentElement.scrollTop);}
/*需要改变的类*/
.img_1{background-position:right 0; width:60px; height:46px;}
.img_2{background-position:right -145px; width:90px; height:65px;}
.img_3{background-position:right -290px; width:105px; height:85px;}
.img_4{background-position:right -435px; width:120px; height:90px;}
.img_5{background-position:right -580px; width:130px; height:100px;}
.img_6{background-position:right -725px; width:140px; height:110px;}
.img_7{background-position:right -870px; width:145px; height:115px;}

/*消息提醒*/
.nessageReminding{height:37px;overflow:hidden;_zoom:1;border-bottom:1px solid #E0E0E0;color:#666;position:relative;}
.nessageReminding li{height:30px;min-width:900px; padding:10px 0 0;}
.nessageReminding i{vertical-align:middle;margin-right:0px;margin:0 5px;}
.nessageReminding .i_maybe,.nessageReminding .i_dg{position:relative;top:-2px;}
.nessageReminding a{color:#1a75ca;}

/*邮箱信息*/
.mailInformation{padding-left:70px;position:relative;margin-bottom:32px;margin-top:10px;min-height:58px;_height:58px;}
.peoPhoneBox{position:absolute;left:0;top:2px;width:52px;height:52px;padding:1px;border:1px solid #D6E3E7;}
.peoPhoneBox img{display:block;width:52px;height:52px;}
.mailInformation_funInfo{padding-top:2px;}
.mailInformation_funInfo h2{color:#444;font-size:14px;display:inline-block;*display:inline;*zoom:1; font-weight:normal;}
.mailInformation_funInfo h2 a{padding:0;margin:0;}
.mailInformation_funInfo h2 a:hover{text-decoration:none;}
.mailInformation_funInfo a{display:inline-block;padding:2px;}
.mailInformation_funInfo a i{cursor:pointer;position:relative;top:2px;}
.mailInformation_funInfo .i_mail{*vertical-align:5px;}
.mailInformation_mailInfo{margin-top:5px;}
.mailInformation_funInfo a,.mailInformation_mailInfo a{margin:0 5px;}
.mailInformation_healthTesting{position: absolute;left:0px;top:0px;width:190px;word-wrap:break-word;}
/*运营区*/
.operations{overflow:hidden;_zoom:1;position:relative;margin-top:3px;}
.operations_title{height:30px;
	/*
	background:#F4F4F4;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#F8F8F8),to(#F0F0F0));
	background:-moz-linear-gradient(top,  #F8F8F8,  #F0F0F0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#f0f0f0');
	background:linear-gradient(#F8F8F8 0,#F0F0F0 100%);*/
	background:#efefef;
}
.operations_title ul{width:95%;padding-left:1px;min-width:520px;}
.operations_title li{width:120px;height:30px;float:left;margin-left:-1px;display:inline;}
.operations_title li a{display:block;height:26px;text-align:center;color:#666;padding:1px;outline:none;}
.operations_title li a:hover{text-decoration:none;}
.operations_title .current a{height:27px;border:1px solid #efefef; border-bottom:none;background-color:#FAFAFA;position:relative;z-index:2;_bottom:-1px; color:#444;}
.operations_title li span{display:block;width:100%;height:20px;line-height:20px; font-size:14px;overflow:hidden;margin-top:4px;border-right:1px solid #D5D5D5;cursor:pointer;}
.operations_title .current span{border-right:none;line-height:18px;}
.operations_title .setBtn{position:absolute;right:10px;top:2px;*top:4px;padding:5px;height:14px;}
.operations_title .setBtn i{vertical-align:0px;*vertical-align:4px;cursor:pointer;}
.operationsInfo{padding:15px;height:220px;overflow:hidden;_zoom:1;position:relative;background-color:#FAFAFA;display:none; border:1px solid #efefef; border-top:none;}
.operations_title1024 li{width:100px;}
.operationsInfo li{float:left;}
.mailRecommend{height:198px;overflow:hidden;}
.mailRecommend li{display:none;width:100%;}
.mailRecommend a{display:block;height:198px;text-align:center;}
.smailCarousel{}
.smailCarousel i{width:12px;height:12px;font-size:0;line-height:12px;overflow:hidden;border:1px solid #D5D5D5;margin:0 5px;cursor:pointer;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	-ms-border-radius:15px;
	border-radius:15px;
	background:#E8E8E8;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#EDEDED),to(#F0F0F0));
	background:-moz-linear-gradient(top,  #EDEDED,  #F0F0F0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#f0f0f0');
	background:linear-gradient(#EDEDED 0,#F0F0F0 100%);
}
.smailCarousel .current i{border-color:#437EBD;
	background:#5F95CE;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(#73A5DB),to(#4A83C0));
	background:-moz-linear-gradient(top,  #73A5DB,  #4A83C0);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#73a5db', endColorstr='#4a83c0');
	background:linear-gradient(#73A5DB 0,#4A83C0 100%);
}
:root .smailCarousel i,:root .smailCarousel .current i{filter:none;}
.boutiqueRss{height:140px;margin-bottom:20px;overflow:hidden;}
.boutiqueRss li{margin-bottom:20px;}
.boutiqueRss li a{display:block;width:82px;height:106px;line-height:30px;margin:6px 15px 10px 10px;text-align:center;}
.boutiqueRss li a:hover img{border-color:#457fbd;}
.boutiqueRss li img{display:block;width:72px;height:96px;padding:5px;border:1px solid #E9E8E8;}
.boutiqueRss a{color:#888;}
.userCenterTip,.laboratoryTip{height:48px;border:1px solid #D5E5EB;background-color:#ECF8FC;color:#888;position:relative;top:5px;}
.userCenterTip{margin:0 10px;}
.userCenterTip li{padding:15px 12px;}
.userCenterTip .tit{line-height:16px;padding:8px 15px;border-right:1px solid #D5E5EB;position:relative;}
.userCenterTip .tit .tipsRight{top:18px;}
.userCenterTip .i_integralArray{line-height: 17px;text-align:center;color:white;margin-right:5px;position:relative;top:0px;top:4px\0;*top:0;overflow:hidden;}
.userCenterList{height:135px;}
.userCenterList li{}
.userCenterList li a{display:block;line-height:32px;margin:22px 15px 10px 10px;text-align:center;color:#888;}
.userCenterList li a:hover img{border-color:#457fbd;}
.userCenterList li img{display:block;width:150px;height:70px;padding:5px;border:1px solid #E9E8E8;}
.creditsRules{height:25px;padding:7px 10px 3px;border-top:1px solid #EFEFEF;margin:8px -15px 0;}
.creditsRules .i_integralHot{position:relative;top:4px;*top:2px;}
.boutiqueBusiness{height:216px;overflow-y:auto;}
.boutiqueBusiness li{width:60px;line-height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin:10px 10px 15px 10px;text-align:center;}
.boutiqueBusiness li a{color:#888;}
.laboratoryTip{height:34px;line-height:34px;padding:0 10px;margin:0 10px;}
.laboratoryTip .i_laboratory{position:relative;top:5px;*top:0px;_top:5px;}
.laboratoryTip .txtInfo{position:relative;top:-3px;_top:-1px;}
.laboratoryList{padding:10px 0 10px 0px;margin:10px -16px 10px 10px;}
.laboratoryList li{width:122px;height:180px;margin:0 24px 0 0;display:inline;color:#888;}
.laboratoryList li a{display:block;line-height:24px;color:#457fbd;}
.laboratoryList li a:hover img{border-color:#457fbd;}
.laboratoryList li img{display:block;width:120px;height:105px;border:1px solid #E9E8E8;}
/*个人信息、莶到、天气*/
.welcomeTab{border-bottom:1px solid #E0E0E0;margin-top:9px;_zoom:1;}
.welcomeTab li{float:left;width:70px;height:28px;}
.welcomeTab li a{display:block;padding:1px;line-height:26px;text-align:center;color:#555;outline:none;position:relative;bottom:-1px;z-index:2;}
.welcomeTab li a:hover{text-decoration:none;}
.welcomeTab .current a{border-bottom:2px solid #636363;border-bottom-color:none;padding:0;*zoom:1;}
.welcomeTabContent{height:85px;overflow:hidden;}
.welcomeTabList{display:none;padding:12px 10px 4px;color:#888;_zoom:1;}
.welcomeTabList li{line-height:24px;/*white-space:nowrap;text-overflow:ellipsis;overflow:hidden;*/}
.welcomeTabList .hoverBg{padding:2px 0;}
.welcomeTabList .hoverBg:hover{background-color:#457FBD;text-decoration:none;color:white!important;}
.welcomeTabList .triangle{position:relative;top:-2px;overflow:hidden;}
.welcomeTabList .acquired{position:relative;_padding:5px 0;*zoom:1;}
.welcomeTabList .aqdTxt{position:absolute;right:0;top:0;}
.welcomeTabList .tips-top{left:20px;}
.callsInquiry{/*width: 65px;*/overflow: hidden;display: inline-block;white-space: nowrap;position:relative;top:-1px;vertical-align: middle;}
.welcomeTabList .btnNormal{padding-left:5px;height:18px;line-height:18px;position:relative;top:-2px;*top:0px;_top:-1px;}
.welcomeTabList .btnNormal span{padding-right:5px;height:18px;line-height:18px;}
.welcomeTabList .i_present{position:relative;top:-2px;}
.welcomeTabList .i_make_money,.welcomeTabList .i_soff{position:relative;top:-1px;*top:1px;}

.welcomeTabList .line{color:#C0C0C0;display:inline-block;height:16px;overflow:hidden;vertical-align:0px;*position:relative;top:-7px;}
.accordBox{width:70px;height:63px;padding-left:10px;border-left:1px dashed #CCC;margin-top:3px;}
.accordBox .accordBtn:hover,.accordBox .accordedBtn:hover{color:white;}
.accordBtn,.accordedBtn{display:block;height:42px;line-height:42px;color:white;font-weight:bold;}
.accordBtn{padding-left:30px;width:38px;}
.accordedBtn{padding-left:26px;width:42px;}

.tipsOther{position:absolute;z-index:3;background: #ffffe1;border:1px solid #cbcb9e;padding:3px 6px; color:#666;line-height:normal;
	-moz-box-shadow:0 0 5px #cecece;
    -webkit-box-shadow:0 0 5px #cecece;
    box-shadow:0 0 5px #cecece;
	-moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.tipsOther .tipsBottom {border:0;width: 7px;height: 5px;left: 10px;z-index:3;bottom: -5px;_bottom: -6px;overflow:hidden;}
/*活动中心*/
.activityCenter{background-color:#FAFAFA;padding-bottom:9px;margin-top:2px;}
.activityCenter_title{height:30px;line-height:30px;}
.activityCenter_title h3{color:#555;padding-left:10px;font-weight:normal;background-color:#efefef;}
.activityCenter_title .integration{position:absolute;right:5px;top:0px;}
.activityCenter_info{width:265px;height:243px;margin:0 auto;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.activityCenter_info a{display:block;}
.activityCenter_info img{width:265px;height:218px;}
.activityCenter .activityCenter_info .mt_10{padding-left:10px;}

/*首页邮箱健康体检*/
.stateImg{width:95px;height:95px;line-height:95px;text-align:center;font-size:30px;color:white;}
.c_ff5907{color:#ff5907;}
/* 邮箱健康检测图标 */

.i-mtYelowWarn{background:url(../../images/module/healthTesting/healthTesting.png) no-repeat;_background-image:url(../../images/module/healthTesting/healthTestingIE6.png);}

.i-mtYelowWarn{width:9px;height:56px;background-position:-105px -89px;margin-top:18px;}
/* ========================== 欢迎页ico ============================== */
.i_mailfj,.i_txbf,.i_upload,.i_mobile,.i_dzzd,.i_mail,.i_dg,.i_weater,.i_fenj,.i_mobilehf,.i_dayrf,
.i_sj2,.i_xial_t,.i_xial_b,.i_zf,
.i_level_1,.i_level_2,.i_level_3,.i_level_4,.i_level_5,.i_level_6,.i_level_7,.i_level_8,.i_level_9,.i_level_10,
.i_lab,.i_tjrn,.i_maybe,.i_fshare,.i_maildx,.i_wenj,.i_warm,
.i_make_money,.i_present,.i_soff,
.i_g3,.i_fetion,.i_fetionGray,.i_webbo,.i_schoolmate,.i_integralArray,.i_integralHot,.i_laboratory,
.accordBtn,.accordedBtn{background:url(../../images/module/welcome/welcome.png) no-repeat;display:inline-block;overflow:hidden;}
.i_g3{background-position:-74px -56px;width:14px;height:15px;}
.i_fetion{background-position:-52px -56px;width:17px;height:17px;}
/*.i_fetionGray{background-position:-224px -55px;width:17px;height:17px;}*/
.i_fetionGray{background-position:-9999px -9999px;width:16px;height:16px;}
.i_webbo{background-position:-32px -56px;width:16px;height:16px;}
.i_schoolmate{background-position:-12px -56px;width:16px;height:16px;}
.i_integralArray{background-position:-200px -54px;width:17px;height:17px;}
.i_integralHot{background-position:-203px -216px;width:37px;height:15px;}
.i_laboratory{background-position:0px -280px;width:26px;height:25px;}

.i_sj2{width:8px;height:4px;background-position:-81px -7px;}
.i_sj2:hover{background-position:-93px -7px;}
.i_xial_t{width:28px;height:5px;background-position:-12px 0;}
.i_xial_b{width:28px;height:4px;background-position:-12px -8px;}
.i_level_1{width:16px;height:15px;background-position:-182px -76px;vertical-align:middle;}
.i_level_2{width:16px;height:15px;background-position:-163px -76px;vertical-align:middle;}
.i_level_3{width:16px;height:15px;background-position:-145px -76px;vertical-align:middle;}
.i_level_4{width:16px;height:15px;background-position:-127px -76px;vertical-align:middle;}
.i_level_5{width:16px;height:15px;background-position:-108px -76px;vertical-align:middle;}
.i_level_6{width:16px;height:15px;background-position:-89px -76px;vertical-align:middle;}
.i_level_7{width:20px;height:15px;background-position:-67px -76px;vertical-align:middle;}
.i_level_8{width:20px;height:15px;background-position:-45px -76px;vertical-align:middle;}
.i_level_9{width:20px;height:15px;background-position:-23px -76px;vertical-align:middle;}
.i_level_10{width:20px;height:15px;background-position:0 -76px;vertical-align:middle;}

.i_upload{width:21px;height:20px;background-position:-117px -3px;}
.i_txbf{width:22px;height:21px;background-position:-146px -2px;}
.i_mailfj{width:20px;height:20px;background-position:-148px -30px;}
.i_mobile{width:23px;height:23px;background-position:-175px -1px;}
.i_dzzd{width:20px;height:20px;background-position:-176px -30px;}
.i_mail{width:14px;height:11px;background-position:-179px -57px;}
.i_dg{width:14px;height:16px;background-position:-150px -54px;vertical-align:-2px;}
.i_weater{width:16px;height:16px;background-position:-122px -57px;}
.i_fenj{width:20px;height:20px;background-position:-118px -30px;}
.i_mobilehf{width:20px;height:20px;background-position:-90px -4px;} /* 话费优惠 */
.i_dayrf{width:20px;height:20px;background-position:-90px -31px;} /* 每日任务 */
.i_zf{width:14px;height:14px;background-position:-185px -217px;}
.i_lab{width:17px;height:16px;background-position:-161px -217px;}
.i_tjrn{width:16px;height:16px;background-position:-46px -218px;}
.i_wenj{width:16px;height:16px;background-position:-136px -216px;}
.i_maildx{width:16px;height:16px;background-position:-113px -217px;position: relative;top: -1px;}
.i_fshare{width:16px;height:16px;background-position:-91px -216px;}
.i_maybe{width:16px;height:16px;background-position:-70px -216px;vertical-align:-2px;}
.i_warm{width:16px;height:16px;background-position:-95px -56px;vertical-align:middle;}

.i_make_money{width:16px;height:18px;background-position:0 -96px;vertical-align:middle;}/*赚积分*/
.i_present{width:15px;height:17px;background-position:-19px -96px;vertical-align:middle;}/*换好礼*/
.i_soff{width:15px;height:16px;background-position:-37px -96px;vertical-align:middle;}/*抽大奖*/

.accordBtn{background-position:0 0;}
.accordedBtn{background-position:-72px 0;}
 /*天气图标*/
.wea0,.wea1,.wea2,.wea3,.wea4,.wea5,.wea6,.wea7,.wea8,.wea9,.wea10,.wea11,
.wea12,.wea13,.wea14,.wea15,.wea16,.wea17,.wea18,.wea19,.wea20,.wea21,.wea22,
.wea23,.wea24,.wea25,.wea26,.wea27,.wea28,.wea29,.wea30,.wea31,.wea32,.wea33{
	background:url(../../images/module/welcome/weaIcon.png?v=rKnohj4kJC92bv33ClYQ2Q%3D%3D)
}
.weaBig0,.weaBig1,.weaBig2,.weaBig3,.weaBig4,.weaBig5,.weaBig6,.weaBig7,.weaBig8,
.weaBig9,.weaBig10,.weaBig11,.weaBig12,.weaBig13,.weaBig14,.weaBig15,.weaBig16,
.weaBig17,.weaBig18,.weaBig19,.weaBig20,.weaBig21,.weaBig22,.weaBig23,.weaBig24,
.weaBig25,.weaBig26,.weaBig27,.weaBig28,.weaBig29,.weaBig30,.weaBig31,.weaBig32,.weaBig33
{
	width:24px;height:24px;overflow:hidden;display:inline-block;vertical-align:middle;
	background:url(../../images/module/welcome/weasmall.png?v=%2BVqFW%2FWRbogJeGzUL6ScZw%3D%3D);
	background-repeat:no-repeat;
}
.wea0{background-position: 0px 0px;}
.wea1{background-position: 0px -84px;}
.wea2{background-position: 0px -168px;}
.wea3{background-position: 0px -252px;}
.wea4{background-position: 0px -336px;}
.wea5{background-position: 0px -420px;}
.wea6{background-position: 0px -504px;}
.wea7{background-position: 0px -588px;}
.wea8{background-position: 0px -672px;}
.wea9{background-position: 0px -756px;}
.wea10{background-position: 0px -840px;}
.wea11{background-position: 0px -924px;}
.wea12{background-position: 0px -1008px;}
.wea13{background-position: 0px -1092px;}
.wea14{background-position: 0px -1176px;}
.wea15{background-position: 0px -1260px;}
.wea16{background-position: 0px -1344px;}
.wea17{background-position: 0px -1428px;}
.wea18{background-position: 0px -1512px;}
.wea19{background-position: 0px -1596px;}
.wea20{background-position: 0px -1680px;}
.wea21{background-position: 0px -1764px;}
.wea22{background-position: 0px -1848px;}
.wea23{background-position: 0px -1932px;}
.wea24{background-position: 0px -2016px;}
.wea25{background-position: 0px -2100px;}
.wea26{background-position: 0px -2184px;}
.wea27{background-position: 0px -2268px;}
.wea28{background-position: 0px -2352px;}
.wea29{background-position: 0px -2436px;}
.wea30{background-position: 0px -2520px;}
.wea31{background-position: 0px -2604px;}
.wea32{background-position: 0px -2688px;}
.wea33{background-position: 0px -2772px;}

.weaBig0{background-position: 0px 0px;}
.weaBig1{background-position: 0px -22px;}
.weaBig2{background-position: 0px -44px;}
.weaBig3{background-position: 0px -72px;}
.weaBig4{background-position: 0px -96px;}
.weaBig5{background-position: 0px -120px;}
.weaBig6{background-position: 0px -144px;}
.weaBig7{background-position: 0px -168px;}
.weaBig8{background-position: 0px -192px;}
.weaBig9{background-position: 0px -216px;}
.weaBig10{background-position: 0px -240px;}
.weaBig11{background-position: 0px -264px;}
.weaBig12{background-position: 0px -288px;}
.weaBig13{background-position: 0px -312px;}
.weaBig14{background-position: 0px -336px;}
.weaBig15{background-position: 0px -360px;}
.weaBig16{background-position: 0px -384px;}
.weaBig17{background-position: 0px -408px;}
.weaBig18{background-position: 0px -432px;}
.weaBig19{background-position: 0px -456px;}
.weaBig20{background-position: 0px -480px;}
.weaBig21{background-position: 0px -504px;}
.weaBig22{background-position: 0px -528px;}
.weaBig23{background-position: 0px -552px;}
.weaBig24{background-position: 0px -576px;}
.weaBig25{background-position: 0px -600px;}
.weaBig26{background-position: 0px -624px;}
.weaBig27{background-position: 0px -648px;}
.weaBig28{background-position: 0px -672px;}
.weaBig29{background-position: 0px -696px;}
.weaBig30{background-position: 0px -720px;}
.weaBig31{background-position: 0px -744px;}
.weaBig32{background-position: 0px -768px;}
.weaBig33{background-position: 0px -792px;}
 /* 天气弹出层 */
 .weathertips{position:absolute;right:27px;top:82px;z-index:2;background: #F3F8FF;border:1px solid #A8BCD9;width:180px;padding:5px 10px;display:none;
 	-webkit-border-radius:2px;
 	-moz-border-radius:2px;
 	border-radius:2px;
 }
.tips-top{position:absolute;display:block;width:6px;height:6px;font-size:0;background:#F3F8FF;border-left:1px solid #A8BCD9;border-top:1px solid #A8BCD9; top:-5px; top:-5px\0;*top:-5px; left:10px;}
.weathertips p{padding:2px 0;}
.weathertips .seloption{padding:4px 0;}
.weathertips p a{color:#999999;}
.weathertips p a:hover{text-decoration:none;cursor:default;}
.weathertips p.current a{color:#457FBD;}
.weathertips p.current a:hover{text-decoration:underline;cursor:pointer;}
.weathertips .i_close{position:absolute;right:7px;top:7px;}
/***********弹出层**************/
.tipsBox{
position:absolute;	z-index:110;}
.tipsBoxClose{	position:absolute;top:5px;right:10px;z-index:100;text-decoration:none;background-image:url(../../images/global/global_24.png) no-repeat;_background-image:url(../../images/global/global.png) no-repeat; background-position:-225px -22px;width:0;overflow:hidden;display:block;height:12px;padding-left:12px;}
.weatherBox{border:1px solid #f7e5b5;background-image:url(../../images/module/welcome/tipsBackgroundRp.jpg?v=EjUbhBPScCDbosyWpmLmdQ%3D%3D);background-position:0 bottom;background-repeat:repeat-x;background-color:#FFF;width:425px;overflow:hidden;position:relative;	left:-2px;	top:-2px;}
/*不情愿的一个ID*/
#TemperatureTips .weatherBox{width:364px;}
#TemperatureTips table{width:366px;}
#TemperatureTips td , #TemperatureTips th{width:105px;}
.userInfoContent .weatherBox{width:325px;}
.weatherBox table{width:427px;margin:12px 0;}
.weatherBox table th,.weatherBox table td{width:127px;padding:3px 8px;vertical-align:top;text-align:left;}
.weatherBox td{border-right:1px dashed #cccccc;color:#333;line-height:16px;}
.weatherTable td{text-align:center;}
.weatherTable td b{display:block;width:0;height:0;overflow:hidden;padding:84px 84px 0 0;margin:0 auto;}
.weatherBox th span{	padding-left:8px;}
.tipsBox iframe {
    position: absolute;
    display: none;_display:block;
    top: 0;
    left: 0;
    z-index: -1;
    border:none;
    filter: mask();
    width: 335px; /* for any big value */
    height: 160px; /* for any big value */
}
.dayWeatherBox{width:333px;padding:0;}
.dayWeatherBox .seloption{padding:0;}
.dayWeatherBox li{width:110px;padding-top:10px;float:left;border-right:1px solid #DAE4F1;}
.dayWeatherBox .none{border-right:none;}
.dayWeatherBox li p{padding:0;line-height:20px;}
.dayWeatherBox p i{width:84px;height:84px;}
.dayWeatherBox .tips-top{left:auto;right:10px;}


/* 当窗口小于750px时，侧边框隐藏*/
@media only screen and (max-width:750px){
	.welcomeAside{display:none;}
	.welcomeMain{margin-right:0px;}
}

/* scrollBar 
::-webkit-scrollbar {height:8px; width:8px;}
::-webkit-scrollbar-button {height:0; width:0}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment { display:block}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement { display:none}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-ck:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal { border-style:solid; border-color:transparent}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{background-clip:padding-box;background-color:#fff;}
::-webkit-scrollbar-thumb { background-clip:padding-box; background-color:rgba(209,211,217,1); min-height:28px; padding-top:100;-webkit-border-radius:15px;}
::-webkit-scrollbar-thumb:hover {background-color:rgba(166,167,175,1);-webkit-border-radius:15px;}
::-webkit-scrollbar-thumb:active {background-color:rgba(166,167,175,1);-webkit-border-radius:15px;}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {  border-width:0;}
::-webkit-scrollbar-track:hover {background-color:rgba(228,229,233,1);-webkit-border-radius:15px;}
::-webkit-scrollbar-track:active {background-color:rgba(228,229,233,1);-webkit-border-radius:15px;}

*/
