.inAside{background:#f6faff url(../../../images/global/groupAlbumBg_01.png) repeat-y; width:199px;}
.groupAlbum_list li{position:relative;}
.groupAlbum_list li i{float:left;}
.groupAlbum_list li a{display:block; padding:9px 11px 9px 14px;}
.groupAlbum_list li a:hover, .groupAlbum_list li.groupFocus a{background:#ddecfa url(../../../images/module/addr/ico_02.png) repeat-y right 0;}
.groupAlbum_list .groupAlbum_listCon{width:90px; display:block; float:left; height:32px; line-height:32px; font-size:14px; overflow:hidden; color:#444; margin-left:10px; _display:inline;}
.groupAlbum_list .msg-topredtips{position:static; padding:0 4px !important; float:right; margin-top:9px;}
.groupAlbum_list_bottom{display:block; padding-left:56px;}

.groupAlbumContacts{width:219px; float:right; position:relative; z-index:3; border-left:1px solid #e4e4e4; background-color:#fff;}
.groupAlbumBox{float:left; position:relative; margin-right:-220px; width:100%; background-color:#fafafa;}
.groupAlbumBoxCon{margin:0 234px 0 14px;}
.groupAlbumContacts_title{padding:11px 0 7px; border-bottom:1px solid #ddd; margin:0 9px; position:relative; zoom:1;}
.groupAlbumContacts_title strong{font-size:14px;}
.groupAlbumContacts_title span{color:#666; font-size:12px; font-weight:normal;}
.groupAlbumContacts_title .i_groupIco_add{position:absolute; right:33px; top:13px;}
.groupAlbumContacts_title .i_groupIco_out{position:absolute; right:3px; top:13px;}

.groupAlbumContacts_list{overflow-y:auto;}
.groupAlbumContacts_list li.groupOn a, .groupAlbumContacts_list li a:hover{background-color:#f2f2f2;}
.groupAlbumContacts_list a{padding:8px 0 9px 13px; display:block;}
.groupAlbumContacts_list img, .groupAlbumContacts_list_con_tou{float:left; width:32px; height:32px;}
.groupAlbumContacts_list_con_tou{background-color: #1481e7; color: #fff; display: block; font-family: "Microsoft YaHei","simhei",Arial; font-size: 30px; font-style: normal; line-height: 50px; text-align: center;}
.groupAlbumContacts_list_con{float:left; width:145px; margin-left:10px; _display:inline;}
.groupAlbumContacts_list_con p{color:#444; width:145px; height:18px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.groupAlbumContacts_list_con span{color:#999; width:145px; height:18px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; display:block;}

.groupAlbumTabs{border-bottom:1px solid #ddd; margin-top:8px; position:relative; zoom:1;}
.groupAlbumTabs ul{text-align:center; width:200px; margin:0 auto;}
.groupAlbumTabs li{float:left; border:1px solid #ddd; background-color:#eee; height:30px; line-height:30px; width:98px; position:relative; top:1px; margin-left:-1px; cursor:pointer; font-size:14px; color:#666;}
.groupAlbumTabs li.groupOn{background-color:#fafafa; z-index:1; border-bottom:1px solid #fafafa; color:#444; font-weight:bold;
	-moz-box-shadow:0 -2px 3px #ddd;
    -webkit-box-shadow:0 -2px 3px #ddd;
    box-shadow:0 -2px 3px #ddd;
}
.groupAlbum_title{position:absolute; left:0; top:0; font-size:14px; line-height:23px;}
.groupAlbum_title i{margin-right:10px; margin-top:-2px; *margin-top:0px;}
.groupTextarea{background-color:#fff; height:auto;
	-moz-box-shadow:1px 1px 2px #d7d7d7 inset;
    -webkit-box-shadow:1px 1px 2px #d7d7d7 inset;
    box-shadow:1px 1px 2px #d7d7d7 inset;
}
.groupTextarea textarea{border: 0 none; overflow:auto; resize:none; width:100%; *width:98%; color:#666; height:88px;}
.groupTextarea_btn{position:relative; z-index:1; zoom:1; margin-top:6px; text-align:right;}
.groupTextarea_btn .i_groupIco_pic{position:absolute; left:0; top:8px}
.groupTextarea_btn .i_groupIco_phiz{position:absolute; left:26px; top:8px;}
.groupTextarea_btn .btnSetG, .groupTextarea_btn .btnBan{padding-left:21px; vertical-align:middle;}
.groupTextarea_btn .btnSetG span, .groupTextarea_btn .btnBan span{padding-right:21px;}
.groupTextarea_btn .menuPop{text-align:left;}

.groupInfoReply{margin-top:8px;}
.groupInfoReply li{margin-bottom:8px;}
.groupInfoReply_box{border:1px solid #e7e7e7; background-color:#fff; padding:14px 14px 14px 78px; zoom:1;
	-moz-box-shadow:0 0 3px #e7e7e7;
    -webkit-box-shadow:0 0 3px #e7e7e7;
    box-shadow:0 0 3px #e7e7e7;
}
.groupInfoReply_title{position:relative; zoom:1;}
.groupInfoReply_title img, .groupInfoReply_tou{position:absolute; left:-64px; top:0; width:50px; height:50px;}
.groupInfoReply_tou i{width:50px; height:50px; background-color: #1481e7; color: #fff; display: block; font-family: "Microsoft YaHei","simhei",Arial; font-size: 30px; font-style: normal; line-height: 50px; text-align: center;}
.groupInfoReply_title strong{float:left; font-size:14px;}
.groupInfoReply_title .spanA{float:right; margin-left:12px; _display:inline; color:#999;}
.groupInfoReply_reply{background-color:#f8f8f8; color:#666; line-height:21px; padding:10px 55px; margin-top:10px; position:relative; zoom:1; cursor:pointer;}
.groupInfoReply_top, .groupInfoReply_bottom{background:url(../../../images/module/addr/ico.png) no-repeat; _background:url(../../../images/module/addr/ico_8.png) no-repeat; position:absolute; font-size:1px; width:27px; height:24px; display:inline-block;}
.groupInfoReply_top{background-position:0 -213px; left:14px; top:10px;}
.groupInfoReply_bottom{background-position:-28px -213px; right:14px; bottom:10px;}
.groupInfoReply_con{line-height:21px; margin-top:7px;}
.groupInfoReply_btn{text-align:right; color:#a9a9a9;}
.groupInfoReply_btn a{margin:0 5px;}
.groupInfoReply_pic{vertical-align:bottom; background-color:#f8f8f8; padding:10px 5px; display:inline-block; *display:inline; zoom:1; margin-top:15px;}
.groupInfoReply_pic img{vertical-align:bottom; max-width:80px; max-height:80px; _width:80px; _height:80px; margin:0 4px;}

.groupAlbum_btn{margin-top:10px; position:relative; zoom:1;}
.groupAlbum_btn li{margin-right:6px; float:left;}
.groupAlbum_num{position:absolute; right:0; top:3px; color:#999;}
.groupAlbum_btnNo.btnNormal, .groupAlbum_btnNo.btnNormal:hover, .groupAlbum_btnNo.btnNormal:active{border:1px solid #e2e2e2;}
.groupAlbum_btnNo.btnNormal, .groupAlbum_btnNo.btnNormal span, .groupAlbum_btnNo.btnNormal:hover, .groupAlbum_btnNo.btnNormal:hover span, .groupAlbum_btnNo.btnNormal:active, .groupAlbum_btnNo.btnNormal:active span{background:#f8f8f8; color:#ccc; cursor:default;}

.groupSessionNot{text-align:center; padding-top:150px;}
.groupSessionNot .btnSetB, .groupSessionNot .btnSetB span{height:35px; line-height:35px; width:150px;}
.groupSessionNot_por{margin-top:24px;}
.groupSessionNot .btnSetB{position:relative;}
.groupSessionNot .btnSetB:hover{background-color:#00a213;}
.groupSessionNot .btnSetB .file{width:150px; height:35px; position:absolute; top:0;left:0;font-size:100px;cursor:pointer;opacity:0;filter:alpha(opacity=0);}
.groupSessionNot p{color:#999; font-size:14px; margin-top:12px;}
.groupInfoReplyNot{text-align:center; margin-top:100px;}

.writeMainOff .switchOn2{right:-1px;background-position:-240px -44px;top:170px;}
.switchOn2{width:10px;height:60px;position:fixed;right:219px; top:220px; _position:absolute;_right:218px;  _top:170px;background:url(../../../images/global/global_24.png) no-repeat;_background:url(../../../images/global/global.png) no-repeat;background-position:-220px -44px;z-index:999;}



